<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true" internalLogFile="..\..\..\Logs\nlog-app.log" />
  <connectionStrings>
    <!--<add name="Infrastructure.Data.UnitOfWork" connectionString="data source=tel01db.telectronica.net\SQL2017DEV;initial catalog= AssetControl_Bridgestone;persist security info=True;user id= sa;password= sa" providerName="System.Data.SqlClient" />-->
    <!--<add name="Infrastructure.Data.UnitOfWork" connectionString="data source=tel01db.telectronica.net\SQL2017DEV;initial catalog= AssetControl_DosPinos;persist security info=True;user id= sa;password= sa" providerName="System.Data.SqlClient" />-->
    <add name="Infrastructure.Data.UnitOfWork" connectionString="data source=tel01db.telectronica.net\SQL2017DEV;initial catalog= AssetControl_DosPinosQA;persist security info=True;user id= sa;password= sa" providerName="System.Data.SqlClient" />
    <!--<add name="Infrastructure.Data.UnitOfWork" connectionString="data source=tel01db.telectronica.net\SQL2017DEV;initial catalog= AssetControl_BID_20230104;persist security info=True;user id= sa;password= sa" providerName="System.Data.SqlClient" />-->
    <!--<add name="Infrastructure.Data.UnitOfWork" connectionString="data source=tel01db.telectronica.net\SQL2017DEV;initial catalog= AssetControl_ORSNA;persist security info=True;user id= sa;password= sa" providerName="System.Data.SqlClient" />-->
    <!--<add name="Infrastructure.Data.UnitOfWork" connectionString="data source=tel01db.telectronica.net\SQL2017DEV;initial catalog= AssetControl_Edensa;persist security info=True;user id= sa;password= sa" providerName="System.Data.SqlClient" />-->
    <!--<add name="Infrastructure.Data.UnitOfWork" connectionString="Data Source=axl19b5lfx.database.windows.net;Initial Catalog=bid-activosfijos_db;User ID=telectronica;Password=neopic.1024" providerName="System.Data.SqlClient" />-->
    <!--<add name="Infrastructure.Data.UnitOfWork" connectionString="Data Source=axl19b5lfx.database.windows.net;Initial Catalog=dospinos-activosfijos_db;User ID=telectronica;Password=neopic.1024" providerName="System.Data.SqlClient" />-->
    <!--<add name="Infrastructure.Data.UnitOfWork" connectionString="Data Source=axl19b5lfx.database.windows.net;Initial Catalog=dospinosqa-activosfijos_db;User ID=telectronica;Password=neopic.1024" providerName="System.Data.SqlClient" />-->
    <!--<add name="Infrastructure.Data.UnitOfWork" connectionString="Data Source=axl19b5lfx.database.windows.net;Initial Catalog=kiekert-activosfijos_db;User ID=telectronica;Password=neopic.1024" providerName="System.Data.SqlClient" />-->
    <!--<add name="Infrastructure.Data.UnitOfWork" connectionString="data source=tel01db.telectronica.net\SQL2017DEV;initial catalog= AssetControl_Total_Prod;persist security info=True;user id= sa;password= sa" providerName="System.Data.SqlClient" />-->
    <add name="ActiveDirectory" connectionString="LDAP://TELECTRONICA" />
  </connectionStrings>
  <appSettings>
    <add key="version" value="1" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="15000" />
    <!--<add key="autoFormsAuthentication" value="false" />
    <add key="enableSimpleMembership" value="false"/>-->
    <add key="ExecuteJobs" value="True" />
    <add key="MembershipMode" value="" />
    <add key="ActiveDirectoryUserName" value="" />
    <add key="ActiveDirectoryPassword" value="" />
    <!--<add key="ImportAssetsFromOracleSchedule" value="0 0/5 * * * ?" />
    <add key="ProcessImportTransactionsSchedule" value="0 0/5 * * * ?" />-->
    <add key="ImportAssetsFromOracleSchedule" value="" />
    <add key="ProcessImportTransactionsSchedule" value="" />
    <add key="ImportAssetsFromSapSchedule" value="0 0/5 * * * ?" />
    <add key="ImportAccountantDataFromSapSchedule" value="0 0 0 10 * ?" />
    <add key="SecureCookies" value="False" />
  </appSettings>
  <system.web.webPages.razor>
    <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=5.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    <pages pageBaseType="System.Web.Mvc.WebViewPage">
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="MvcHtmlHelpers" />
        <add namespace="Presentation.MVC.Common.i18n" />
        <add namespace="Presentation.MVC.Common.Security" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>
  <system.web>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="es-AR" uiCulture="es-AR" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="40960" encoderType="System.Web.Security.AntiXss.AntiXssEncoder,System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" requestValidationMode="2.0" requestPathInvalidCharacters="*" />
    <customErrors mode="Off" />
    <!--<authentication mode="Windows" />-->
    <authentication mode="Forms">
      <forms loginUrl="~/" timeout="2880" />
    </authentication>
    <pages controlRenderingCompatibilityVersion="4.0" validateRequest="false">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <roleManager enabled="true" defaultProvider="SimpleRoleProvider">
      <providers>
        <clear />
        <add name="SimpleRoleProvider" type="Infrastructure.Cross.Security.SimpleMembership.SimpleRoleProvider, Infrastructure.Cross.Security" />
      </providers>
    </roleManager>
    <membership defaultProvider="SimpleMembershipProvider">
      <providers>
        <clear />
        <add name="SimpleMembershipProvider" type="Infrastructure.Cross.Security.SimpleMembership.SimpleMembershipProvider, Infrastructure.Cross.Security" />
      </providers>
    </membership>
  </system.web>
  <system.serviceModel>
    <bindings>
      <!--basicHttpBinding>
                <binding name="secureHttpBinding">
                    <readerQuotas maxArrayLength="9965536" />
                    <security mode="Transport">
                        <transport clientCredentialType="None"/>
                    </security>
                </binding>
            </basicHttpBinding-->
      <basicHttpBinding>
        <binding name="BasicHttpBindingConfiguration">
          <readerQuotas maxArrayLength="9965536" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="Presentation.MVC.WS.MobileSyncService">
        <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="BasicHttpBindingConfiguration" name="HTTP" contract="Presentation.MVC.WS.IMobileSyncService" />
        <!--endpoint address="" binding="basicHttpBinding" bindingConfiguration="secureHttpBinding" contract="Presentation.MVC.WS.IMobileSyncService" /-->
        <!--endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" /-->
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!--serviceMetadata httpsGetEnabled="true" /-->
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true" />
    <httpProtocol>
      <customHeaders>
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains; preload" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPPlus" publicKeyToken="ea159fdaa78159a1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
<!--ProjectGuid: 3342D748-4DA2-488C-8736-F2E7B7D4954D-->